@use "../scss/abstracts/mixins";

body{
    background: linear-gradient(#ACBCFF,#B799FF,#AEE2FF);
    min-height: 100vh;
    @include mixins.flexCenter;
    padding: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
}